html, body {
  height: 100%;
  width: 100%;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 14px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

a {
    text-decoration: none;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/* Header start */
#header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8px;
    background-color: #E9CBBF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

a.imgL {
    width: 25%;
    height: 80px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.logo {
    width: 80%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 0;
    margin: 0;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #12605A;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #12605A;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar #bag,
#mobile #bag {
    background-color: transparent;
    padding: 5px;
    color: #222;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#cartContainer {
    display: none;
    visibility: hidden;
}
/* Header End */
/* Home Page */
    /* Cart Start */
    .navbar-right {
        float: right;
    }

    .navbar-right li {
        display: inline;
        padding-left: 20px;
    }

    .navbar-right li a {
        color: #222;
        text-decoration: none;
    }
    .navbar-right li a:hover {
        color: black;
    }

    #cartContainer {
        margin: auto;
        width: 80%;
        visibility: visible;
    }

    .badge {
        background-color: rgba(18, 96, 90, 0.8);
        border-radius: 50px;
        width: 24px;
        height: 24px;
        color: white;
        display: inline-block;
        font-size: 12px;
        line-height: 1.5;
        padding: 3px 7px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        position: absolute;
        top: -15px;
        right: 3px;
    }

    #cartContainer span.badge {
        position: relative;
    }

    .shopping-cart {
        margin: 20px 0;
        float: right;
        background: white;
        width: 35vw;
        max-height: 75vh;
        position: fixed;
        z-index: 100;
        border-radius: 3px;
        right: 8px;
        top: 70px;
        box-shadow: 0px 9px 12px rgb(0 0 0 / 35%);
        overflow-y: scroll;
    }

    .shopping-cart::-webkit-scrollbar {
        appearance: none;
        color: rgba(0, 0, 0, 0.01);
        background-color: rgba(0, 0, 0, 0.01);
        position: absolute;
        top: 0;
        right: 0;
    }

    .shopping-cart::-webkit-scrollbar:vertical {
        width: 5px;
        color: rgba(0, 0, 0, 0.2);
    }

    .shopping-cart::-webkit-scrollbar-button:increment .shopping-cart::-webkit-scrollbar-button {
        display: none;
    }

    .shopping-cart::-webkit-scrollbar:horizontal {
        height: 5px;
    }

    .shopping-cart::-webkit-scrollbar-thumb {
        background-color: rgba(34, 34, 34, 0.705);
        border-radius: 20px;
    }

    .shopping-cart::-webkit-scrollbar-track {
        border-radius: 10px;
        color: rgba(0, 0, 0, 0.0);
        background-color: rgba(0, 0, 0, 0.0);
    }

    .shopping-cart::-webkit-scrollbar-track-piece {
        color: rgba(0, 0, 0, 0.0);
        background-color: rgba(0, 0, 0, 0.0);
    }

    .shopping-cart .cartEmpty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #8e8c8c;
        padding: 0 20px;
    }

    .shopping-cart .cartEmpty span {
        padding: 20px;
    }

    .shopping-cart-header {
        border-bottom: 1px solid #E8E8E8;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        padding: 20px 30px;
        background-color: #fff;
    }

    .shopping-cart-total {
        float: right;
    }

    .shopping-cart-items {
        padding-top: 20px;
        border-bottom: 1px solid #E8E8E8;
    }

    .shopping-cart-items li {
        margin-bottom: 18px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .shopping-cart-items .clearfix .imageProduct {
        width: 35%;
        height: 100%;
        padding: 20px;
        margin-left: 10px;
    }

    .shopping-cart-items .clearfix .imageProduct img {
        float: left;
        margin-right: 12px;
        width: 100%;
        border-radius: 25px;
    }

    .shopping-cart-items .clearfix .productDetailsCart {
        width: 45%;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .shopping-cart-items .item-name {
        display: block;
        padding-bottom: 8px;
        font-size: 16px;
    }

    .shopping-cart-items #priceContainerCart {
        display: flex;
    }

    .shopping-cart-items .item-price {
        color: #6394F8;
        margin-right: 8px;
        padding-bottom: 8px;
    }

    .shopping-cart-items #cartSize {
        display: flex;
        padding-bottom: 8px;
        font-size: 16px;
    }

    .shopping-cart-items .item-quantity {
        color: #ABB0BE;
    }

    .shopping-cart:after {
        bottom: 100%;
        left: 89%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: white;
        border-width: 8px;
        margin-left: -8px;
    }

    .cart-icon {
        color: #515783;
        font-size: 24px;
        margin-right: 7px;
        float: left;
    }

    .shopping-cart-items .button {
        background: #6394F8;
        color:white;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        display: block;
        border-radius: 3px;
        font-size: 16px;
        margin: 25px 0 15px 0;
    }
    .shopping-cart-items .button :hover {
        background: lighten(#6394F8, 3%);
    }

    .shopping-cart-items .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

    .shopping-cart-items .clearfix .btnRemove {
        width: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .shopping-cart-items .clearfix .btnRemove button {
        color: #088178;
        width: 36px;
        height: 36px;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 10px;
        align-content: center;
    }

    .shopping-cart-items .clearfix .productDetailsCart .quantity .subtractQuantity {
        padding: 5px 10px;
        background-color: rgb(179, 36, 36);
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        color: #fff;
        border: none;
    }

    .shopping-cart-items .clearfix .productDetailsCart .quantity .addQuantity {
        padding: 5px 10px;
        background-color: rgb(9, 97, 9);
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        color: #fff;
        border: none;
    }

    .shopping-cart-items .clearfix .productDetailsCart .quantity .item-quantity {
        padding: 5px;
        margin: 5px;
    }

    .shopping-cart .shopping-checkout {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #E8E8E8;
        position: sticky;
        bottom: 0;
        padding: 10px 30px;
        background-color: #fff;
    }

    .shopping-cart .shopping-checkout #closeBag {
        padding: 10px;
        margin: 0;
        width: 30%;
        color: #222;
        transition: 0.3s;
    }

    .shopping-cart .shopping-checkout form {
        width: 30%;
    }

    .shopping-cart .shopping-checkout #checkoutBag {
        padding: 10px;
        margin: 0;
        width: 100%;
        color: #222;
        transition: 0.3s;
    }
    /* Cart End */
    /* Hero Image */
    #hero {
        background-image: url("../img/aplicar.jpg");
        height: 90vh;
        width: 100%;
        background-size: cover;
        background-position: top 25% right 0;
        padding: 0 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    #hero h4 {
        padding-bottom: 15px;
    }

    #hero h1 {
        color: white;
    }

    #hero button {
        background-image: url("../img/button.png");
        background-color: transparent;
        color: white;
        border: 0;
        padding: 14px 80px 14px 65px;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;
        font-size: 15px;
    }

    #hero button a {
        text-decoration: none;
        color: white;
    }
    /* Hero Image End */
    /* Cards Start */
    #feature {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #feature .fe-box {
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
        border: 1px solid #cce7d0;
        margin: 15px 0;
    }

    #feature .fe-box:hover{
        box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    }

    #feature .fe-box img {
        width: 100%;
        margin-bottom: 10px;
    }

    #feature .fe-box h6 {
        display: inline-block;
        padding: 9px 8px 6px 8px;
        line-height: 1;
        border-radius: 4px;
        color: #088178;
        background-color: #d1e8f2;
    }

    #feature .fe-box:nth-child(2) h6 {
        background-color: #fddde4;
    }
    #feature .fe-box:nth-child(3) h6 {
        background-color: #cdebbc;
    }
    #feature .fe-box:nth-child(4) h6 {
        background-color: #cdd4f8;
    }
    #feature .fe-box:nth-child(5) h6 {
        background-color: #f6dbf6;
    }
    #feature .fe-box:nth-child(6) h6 {
        background-color: #fff2e5;
    }
    /* Cards End */
    /* Products Start */
    #product1 {
        text-align: center;
        scroll-margin-top: 8ex;
    }

    #product1 .pro-container {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
    }

    #product1 .pro-container #cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 20px;
    }

    #product1 .pro-container #cardsArrivals {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 20px;
    }

    #product1 .pro {
        width: 23%;
        min-width: 250px;
        padding: 10px 12px;
        border: 1px solid #cce7d0;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
        margin: 15px 0;
        transition: 0.2s ease;
        position: relative;
    }


    #product1 .pro:hover {
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    }

    #product1 .pro img {
        width: 100%;
        border-radius: 20px;
    }
    
    #product1 .pro img.imgOtherPage {
        display: none;
    }

    #product1 .pro .des {
        text-align: start;
        padding: 10px 0;
    }

    #product1 .pro .des span {
        color: #606063;
        font-size: 14px;
    }

    #product1 .pro .des h5 {
        padding: 7px 0;
        color: #1a1a1a;
        font-size: 16px;
    }

    #product1 .pro .des i {
        font-size: 14px;
        color: rgb(243, 181, 25);
    }

    #product1 .pro .des #priceContainerFeatures {
        display: flex;
        width: 100%;
    }

    #product1 .pro .des #priceContainerFeatures h4 {
    padding-top: 7px;
    padding-right: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #088178;
    }

    #product1 .pro #btnOpenPopUp button {
        padding: 15px;
        width: 60%;
        height: 100%;
        border: 1px solid #088178;
        color: #088178;
        line-height: 10px;
        text-transform: uppercase;
    }

    #product1 .pro #btnOpenPopUp button:hover {
        color: #fff;
        background-color: #088178;
        border: 1px solid #088178;
    }
    /* Products End */
    /* Banner Start */
    #banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        background-image: url('../img/banner/Banner.jpg');
        width: 100%;
        height: 40vh;
        background-size: cover;
        background-position: center;
    }

    #banner .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 40vh;
        padding-right: 20%;
    }

    #banner h4 {
        color: #fff;
        font-size: 26px;
        margin: 10px 0;
    }

    #banner h2 {
        color: #fff;
        padding: 25px 0;
        margin: 25px 0;
        font-size: 150px;
    }

    #banner button.normal {
        padding: 13px 0;
    }

    #banner button a{
        padding: 15px 30px;
        text-decoration: none;
        color: #12605A;
    }

    #banner button:hover {
        background-color: #12605A;
        color: #fff;
    }

    #banner button a:hover {
        color: #fff;
    }
    /* Banner End */
    /* Call to Action Banners Start */
    #sm-banner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #sm-banner .banner-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url('../img/banner/b17.jpg');
        min-width: 49%;
        height: 50vh;
        background-size: cover;
        background-position: center;
        padding: 30px;
    }

    #sm-banner .banner-box2 {
        background-image: url('../img/banner/b10.jpg');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-width: 49%;
        height: 50vh;
        background-size: cover;
        background-position: center;
        padding: 30px;
    }

    #sm-banner h4 {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
    }

    #sm-banner h2 {
        color: #fff;
        font-size: 28px;
        font-weight: 800;
    }

    #sm-banner span {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 15px;
    }

    #sm-banner .banner-box:hover button {
        background: #088178;
        border: 1px solid #088178;
    }

    #banner3 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 80px;
    }

    #banner3 .banner-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url('../img/banner/b7.jpg');
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
    }

    #banner3 .banner-box2 {
        background-image: url('../img/banner/b4.jpg');
    }

    #banner3 .banner-box3 {
        background-image: url('../img/banner/b18.jpg');
    }

    #banner3 h2{
        color: #fff;
        font-weight: 900;
        font-size: 22px;
    }

    #banner3 h3{
        color: #cdebbc;
        font-weight: 800;
        font-size: 15px;
    }
    /* Call to Action Banners End */
    /* Newsletter Start */
    #newsletter {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        background-image: url("../img/banner/b14.png");
        background-repeat: no-repeat;
        background-position: 20% 30%;
        background-color: #041e42;
        margin-bottom: 0;
    }

    #newsletter h4 {
        font-size: 22px;
        font-weight: 700;
        color: #fff;
    }

    #newsletter p {
        font-size: 14px;
        font-weight: 600;
        color: #818ea0;
    }

    #newsletter p span{
        color: #ffbd27;
    }

    #newsletter .form {
        display: flex;
        width: 40%;
    }

    #newsletter input {
        height: 3.125rem;
        padding: 0 1.25em;
        font-size: 14px;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 4px;
        outline: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #newsletter button {
        background-color: #088178;
        color: #fff;
        white-space: nowrap;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    /* Newsletter Ends */
    /* Footer Start */
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer.section-p1 {
        padding: 40px 40px 15px 40px;
    }

    footer h4 {
        font-size: 14px;
        padding-bottom: 20px;
    }
    footer p {
        font-size: 14px;
        margin: 0 0 8px 0;
    }
    footer a {
        font-size: 14px;
        text-decoration: none;
        color: #222;
        margin-bottom: 10px;
    }

    footer .follow {
        margin-top: 20px;
    }

    footer .follow i{
        color: #465b52;
        padding-right: 4px;
        cursor: pointer;
    }

    footer .install .row img{
        border: 1px solid #088178;
        border-radius: 6px;
    }

    footer .install img{
        margin: 10px 0 15px 0;
    }

    footer .follow i:hover,
    footer a:hover {
        color: #088178;
    }

    footer .copyright {
        width: 100%;
        text-align: center;
    }

    footer .col {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 0;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer .accountFooter,
    footer .aboutFooter {
        display: flex;
        flex-direction: column;
    }

    footer .logoFooter {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .logoFooter img {
        width: 45%;
        height: 45%;
    }
    /* Footer End */
/* Home Page End */

/* Shop Page Start*/
    /* Header Start  */
    #page-header {
        width: 100%;
        height: 40vh;
        background-image: url('../img/banner/b1.jpg');
        background-size: cover;
        background-position: top 30% right 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 14px;
    }

    #page-header h2,
    #page-header p {
        color: #fff;
    }
    /* Header End */
    /* Pagination Start */
    #pagination {
        text-align: center;
    }

    #pagination a{
        text-decoration: none;
        background-color: #088178;
        padding: 15px 20px;
        border-radius: 4px;
        color: #fff;
        font-weight: 600;
    }

    #pagination a i{
        font-size: 16px;
        font-weight: 600;
    }
    /* Pagination End */
/* Shop Page End */
/* Single Product Start */
    #modalConfirm {
        display: none;
    }

    #modalAdd.modal {
        display: none;
        background: rgba(0, 0, 0, 0.35);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        padding: 100px 80px 25px;
        justify-content: center;
        align-items: center;
        z-index: 100;
        align-content: center;
    }

    #modalAdd .modalContainer {
        width: 90%;
        height: 90%;
        background-color: #E9CBBF;
        padding: 45px 60px;
        display: flex;
        border-radius: 10px;
        position: relative;
        align-items: center;
    }

    #modalAdd .modalContainer .closeModal {
        background-color: #E9CBBF;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #222;
        position: absolute;
        top: 30px;
        right: 40px;
        font-size: 28px;
        cursor: pointer;
    }

    #modalAdd .modalContainer .closeModal i.closeModal {
    position: absolute;
    top: 0;
    right: 0px;
    cursor: pointer;
    }

    #modalAdd .modalContainer .single-pro-details {
        width: 100%;
        height: 100%;
        text-align: justify;
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-rows: auto;
        align-items: center;
        justify-items: center;
    }

    #modalAdd .modalContainer .single-pro-details .imageProduct {
        width: 85%;
        height: 100%;
        grid-column: 1 / 2;
        grid-row: 1 / 8;
        display: flex;
    }

    #modalAdd .modalContainer .single-pro-details #cartImage,
    #modalAdd .modalContainer .single-pro-details #imageRemplace {
    min-width: 300px;
    max-width: 400px;
    min-height: 500px;
    max-height: 600px;
    border-radius: 10px;
    }

    #modalAdd .modalContainer .single-pro-details h6 {
        font-weight: 700;
        font-size: 16px;
        width: 100%;
        height: 100%;
        grid-column: 2/ 4;
        display: grid;
        align-items: center;
    }

    #modalAdd .modalContainer .single-pro-details h4 {
        font-size: 28px;
        width: 100%;
        height: 100%;
        grid-column: 2/4;
        grid-row: 2/3;
        display: grid;
        align-items: center;
    }

    #modalAdd .modalContainer .single-pro-details #priceContainerModal {
        grid-column: 2/4;
        grid-row: 3 / 4;
        display: flex;
        width: 100%;
        height: 100%;
    }

    #modalAdd .modalContainer .single-pro-details #priceContainerModal h2 {
        font-size: 30px;
        margin-bottom: 5px;
        width: 100%;
        height: 100%;
        grid-column: 2 / 4;
        grid-row: 3 / 4;
        display: grid;
        align-items: center;
    }

    #modalAdd .modalContainer .single-pro-details #priceContainerModal h2#currencyModal {
        width: 8%;
    }

    #modalAdd .modalContainer .single-pro-details .selectSize {
        width: 100%;
        height: 100%;
        grid-column: 2/ 3;
        display: flex;
        align-items: center;
    }

    #modalAdd .modalContainer .single-pro-details .selectSize select {
        padding: 5px 10px;
        background-color: transparent;
        font-size: 18px;
        font-weight: 500;
        border-radius: 10px;
        width: 85%;
    }

    #modalAdd .modalContainer .single-pro-details button {
        background-color: #088178;
        color: #fff;
        height: 70%;
        width: 100%;
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        display: grid;
        align-items: center;
    }

    #modalAdd .modalContainer .single-pro-details h4.proDetails {
        font-size: 28px;
        width: 100%;
        height: 100%;
        grid-column: 2 / 4;
        grid-row: 6 / 7;
        display: grid;
        align-items: center;
    }

    #modalAdd .modalContainer .single-pro-details span {
        line-height: 25px;
        display: grid;
        align-items: center;
        grid-column: 2/4;
        grid-row: 7 / 8;
    }

    #modalAdd .modalContainer .single-pro-details .quantityModal {
        width: 100%;
        height: 100%;
        grid-column: 3 / 4;
        grid-row: 4 / 5;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
    }

    #modalAdd .modalContainer .single-pro-details .quantityModal h6 {
        font-weight: 700;
        font-size: 16px;
        width: 32%;
        height: 100%;
        grid-column: 2/ 4;
        display: grid;
        align-items: center;
    }

    #modalAdd .modalContainer .single-pro-details .quantityModal .subtractQuantityModal {
        padding: 5px 10px;
        background-color: rgb(179, 36, 36);
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        color: #fff;
        border: none;
        margin: 0;
        width: 40px;
        height: 40px;
    }

    #modalAdd .modalContainer .single-pro-details .quantityModal .addQuantityModal {
        padding: 5px 10px;
        background-color: rgb(9, 97, 9);
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        color: #fff;
        border: none;
        width: 40px;
        margin: 0px;
        height: 40px;
    }

    #modalAdd .modalContainer .single-pro-details .quantityModal .itemQuantityModal {
        padding: 5px 10px;
        width: 40px;
        height: 40px;
        font-size: 22px;
        text-align: center;
    }
/* Single Product End */

/* Blog Page Start */
    /* Hero Image Start */
    #page-header.blog-header {
        background-image: url('../img/banner/b19.jpg');
    }
    /* Hero Image End */
    /* Blog Content Start */
    #blog {
        padding: 150px 150px 0 150px;
    }

    #blog .blog-box {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        padding-bottom: 90px;
    }

    #blog .blog-img {
        width: 50%;
        margin-right: 40px;
    }

    #blog img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    #blog .blog-details {
        width: 50%;
    }

    #blog .blog-details a{
        text-decoration: none;
        font-size: 11px;
        color: #000;
        font-weight: 800;
        position: relative;
        transition: 0.3s;
    }

    #blog .blog-details a::after{
        content: "";
        width: 50px;
        height: 1px;
        background-color: #000;
        position: absolute;
        top: 7px;
        right: -60px;
    }

    #blog .blog-details a:hover {
        color: #088178;
    }

    #blog .blog-details a:hover::after {
        background-color: #088178;
    }

    #blog .blog-box h1 {
        position: absolute;
        top: -45px;
        left: 0;
        font-size: 70px;
        font-weight: 600;
        color: #c9cbce;
        z-index: -9;
    }
    /* Blog Content End */
/* Blog Page End */

/* About Page Start*/
    /* Hero Image Start */
    #page-header.about-header {
        background-image: url('../img/about/banner2.png');
        background-position: center;
    }
    /* Hero Image End */
    /* Content About Start */
    #about-head {
        display: flex;
        align-items: center;
    }

    #about-head img{
        width: 50%;
        height: auto;
    }

    #about-head div{
        padding-left: 40px;
    }
    /* Content About End */
    /* Video Section Start */
    #about-app {
        text-align: center;
    }

    #about-app .video {
        width: 70%;
        height: 100%;
        margin: 30px auto 0 auto;
    }

    #about-app .video video{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    /* Video Section End */
/* About Page End*/

/* Contact Page Start*/
    #page-header.contactHero {
        background-image: url('../img/about/bannerContact.png');
    }
    /* Map Section Start */
    #contact-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #contact-details .details {
        width: 40%;
    }

    #contact-details .details span,
    #form-details form span{
        font-size: 20px;
    }

    #contact-details .details h2,
    #form-details form h2 {
        font-size: 26px;
        line-height: 35px;
        padding: 20px 0;
    }

    #contact-details .details h3 {
        font-size: 26px;
        padding-bottom: 15px;
    }

    #contact-details .details li {
        list-style: none;
        display: flex;
        padding: 10px 0;
    }

    #contact-details .details li i {
        font-size: 14px;
        padding-right: 22px;
    }

    #contact-details .details li p {
        margin: 0;
        font-size: 14px;
    }

    #contact-details .map {
        width: 55%;
        height: 400px;
    }

    #contact-details .map iframe{
        width: 100%;
        height: 100%;
    }
    /* Map Section End */
    /* Form Section Start*/
    #form-details {
        display: flex;
        justify-content: space-between;
        margin: 30px;
        padding: 80px;
        border: 1px solid #e1e1e1;
    }

    #form-details form{
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #form-details form input,
    #form-details form textarea {
        width: 100%;
        padding: 12px 15px;
        outline: none;
        margin-bottom: 20px;
        border: 1px solid #e1e1e1;
    }

    #form-details form button {
        background-color: #088178;
        color: #fff;
    }

    #form-details .people div{
        padding-bottom: 25px;
        display: flex;
        align-items: flex-start;
    }

    #form-details .people div img {
        width: 65px;
        height: 65px;
        object-fit: cover;
        margin-right: 15px;
    }

    #form-details .people div p {
        margin: 0;
        font-size: 13px;
        line-height: 25px;
    }

    #form-details .people div p span {
        display: block;
        font-size: 16px;
        font-weight: 600;
        color: #000;
    }
    /* Form Section End */
/* Contact Page End*/
/* Cart Page Start*/
    #page-header.cartHero {
        background-image: url('../img/about/bannerCart.png');
    }
    /* Products Table Start */
    #cart {
        overflow-x: auto;
    }
    #cart table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        white-space: nowrap;
        box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
    }

    #cart table img {
        width: 50px;
        border-radius: 5px;
    }

    #cart table td:nth-child(1) {
        width: 100px;
        text-align: center;
    }

    #cart table td:nth-child(2) {
        width: 150px;
        text-align: center;
    }

    #cart table td:nth-child(3) {
        width: 250px;
        text-align: center;
    }

    #cart table td:nth-child(4),
    #cart table td:nth-child(5),
    #cart table td:nth-child(6) {
        width: 150px;
        text-align: center;
    }

    #cart table td:nth-child(5) input{
        width: 70px;
        padding: 10px 5px 10px 15px;
    }

    #cart table thead {
        border: 1px solid #e2e9e1;
        border-left: none;
        border-right: none;
    }

    #cart table thead td {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        padding: 18px 0;
        text-align: center;
    }

    #cart table tbody tr td {
        padding: 15px 0;
    }

    #cart table tbody td {
        font-size: 14px;
    }

    #cart table tbody td button#remove {
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    #cart table img.delete {
        width: 24px;
    }

    #cart table tbody td input#quantity {
        width: 50px;
        height: 38px;
        text-align: center;
    }

    #cart table tbody tr td#subtotalProductToPay {
        text-align: center;
    }

    #cart table tbody td div#empty {
        position: absolute;
        right: 45%;
        left: 45%;
    }

    #cart table tbody td #empty span {
        color: gray;
        font-size: 16px;
    }

    tr.cartEmpty {
        width: 1262px;
        height: 80px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .shoppingCartItemsContainer .quantity button.subtractQuantity {
        padding: 5px 10px;
        background-color: rgb(179, 36, 36);
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        color: #fff;
        border: none;
        margin: 0;
        width: 35px;
        height: 35px;
    }

    .shoppingCartItemsContainer .quantity button.addQuantity {
        padding: 5px 10px;
        background-color: rgb(9, 97, 9);
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        color: #fff;
        border: none;
        width: 35px;
        height: 35px;
        margin: 0px;
    }

    .shoppingCartItemsContainer .quantity span.item-quantity {
        padding: 5px 10px;
        width: 35px;
        height: 35px;
        font-size: 14px;
        text-align: center;
    }
    /* Products Table End */
    /* Apply Coupon Start */
    #cart-add {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #coupon {
        width: 50%;
        margin-bottom: 30px;
        background-image: url(../img/banner/b17.jpg);
        background-position: right;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 30px;
        box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
    }

    #coupon h2 {
        color: white;
        padding-bottom: 15px;
    }

    #coupon .inputCoupon {
        width: 100%;
    }

    #coupon h3,
    #subtotal h3 {
        padding-bottom: 15px;
    }

    #coupon input {
        padding: 10px 20px;
        outline: none;
        width: 70%;
        margin-right: 10px;
        border: 1px solid #e2e9e1;
    }

    #coupon button,
    #subtotal button {
        background-color: #088178;
        color: #fff;
        padding: 12px 20px;
    }

    #coupon button {
        width: 25%;
    }

    #subtotal {
        width: 50%;
        margin-bottom: 30px;
        border: 1px solid #e2e9e1;
        padding: 30px;
        box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
    }

    #subtotal table{
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
    }

    #subtotal table td {
        width: 50%;
        border: 1px solid #e2e9e1;
        padding: 10px;
        font-size: 14px;
    }
    /* Apply Coupon End */
/* Cart Page End*/

/* Start MediaQuery */
@media (max-width: 480px) {
    .section-p1 {
        padding: 25px;
    }
    /* Navbar Start */
    #header {
        padding: 15px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E9CBBF;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0;
        z-index: 9999;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
        padding: 0 15px;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding: 0 30px;
    }

    #mobile #bar {
        padding: 0;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    a.imgL {
        width: 50%;
        padding: 10px;
    }

    img.logo {
        width: 90%;
    }

    #mobile #numberOfProducts {
        right: 70px;
        top: 12px;
    }

    #bag li {
        display: none;
    }

    .shopping-cart {
        width: 100%;
        top: 78px;
        right: 0;
        margin: 0;
    }

    .shopping-cart-items .clearfix .imageProduct {
        padding: 5px;
    }

    .shopping-cart-items .clearfix .productDetailsCart {
        padding-top: 5px;
    }
    /* Navbar End */
/* Home Page Start */
    /* Hero Start */
    #hero {
        padding: 0 15px;
        background-position: 60%;
    }

    #hero h2 {
        font-size: 32px;
    }

    #hero h1 {
        font-size: 38px;
    }
    /* Hero End */
    /* Cards Start */
    #feature {
        justify-content: space-around;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    /* Cards End */
    /* Products Start */
    #product1 .pro {
        width: 100%;
    }

    #product1 .pro-container #cards {
        padding: 0;
    }
    /* Products End */
    /* Modal Start */
    #modalAdd.modal {
        padding: 105px 20px 20px 20px;
    }

    #modalAdd .modalContainer {
        width: 100%;
        height: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #modalAdd .modalContainer .closeModal {
        background-color: transparent;
        top: 12px;
        right: 12px;
    }

    #modalAdd .modalContainer .single-pro-details {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    #modalAdd .modalContainer .single-pro-details .imageProduct {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }

    #modalAdd .modalContainer .single-pro-details #cartImage,
    #modalAdd .modalContainer .single-pro-details #imageRemplace {
        min-width: 50%;
        max-width: 95%;
        min-height: 50%;
        max-height: 95%;
    }

    #modalAdd .modalContainer .single-pro-details h6,
    #modalAdd .modalContainer .single-pro-details h4,
    #modalAdd .modalContainer .single-pro-details #priceContainerModal {
        padding-left: 15px;
    }

    #modalAdd .modalContainer .single-pro-details .selectSize {
        padding-left: 15px;
        display: flex;
        justify-content: center;
    }

    #modalAdd .modalContainer .single-pro-details .selectSize select {
        width: 100%;
        margin-right: 16px;
    }

    #modalAdd .modalContainer .single-pro-details .quantityModal {
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }

    #modalAdd .modalContainer .single-pro-details .quantityModal h6 {
        display: none;
    }

    #modalAdd .modalContainer .single-pro-details h4.proDetails {
        display: none;
    }

    #modalAdd .modalContainer .single-pro-details span {
        display: none;
    }

    #modalAdd .modalContainer .single-pro-details .quantityModal .itemQuantityModal {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Modal End */
    /* Banner Start */
    #banner {
        margin: 10px 0;
    }

    #banner .description {
        width: 100%;
        padding: 0 10%;
    }

    #banner h4 {
        width: 100%;
        font-size: 24px;
    }

    #banner h2 {
        padding: 15px 0;
        font-size: 115px;
    }
    /* Banner End */
    /* Call to Action Banners Start */
    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .banner-box2 {
        margin-top: 20px;
    }

    section#banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }
    /* Call to Action Banners End */
    /* Newsletter Start */
    #newsletter {
        justify-content: center;
        margin: 0;
        padding: 40px 20px;
    }
    #newsletter h4,
    #newsletter p {
        text-align: center;
    }
    #newsletter .form {
        width: 100%;
    }
    /* Newsletter End */
/* Home Page End */
/* Footer Start */
footer.section-p1 {
    padding: 25px 40px;
}

footer .col {
    width: 100%;
}

footer .logoFooter {
    width: 100%;
    height: 100%;
}

footer .logoFooter img {
    width: 85%;
    height: 85%;
}

footer .contactFooter {
    margin-bottom: 15px;
}

footer .aboutFooter {
    width: 50%;
    margin-bottom: 15px;
}

footer .accountFooter {
    width: 50%;
    padding-left: 40px;
}

footer .appFooter.install {
    width: 100%;
}
footer .appFooter.install .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .appFooter.install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
    margin: 10px 5px;
}

footer .appFooter.install p {
    margin: 8px 0;
}

footer .securityPay {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer .copyright p {
    margin: 10px 0 0 0;
}
/* Footer End */

/* Single Product Page Start */
    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }
/* Single Product Page End */

/* Blog Page Start */
    /* Blog Content Start */
    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    #blog .blog-details {
        width: 100%;
    }
    /* Blog Content End */
/* Blog Page End */

/* About Page Start */
    /* Content About Start */
    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0;
    }

    #about-head .video {
        width: 100%;
    }
    /* Content About End */
/* About Page End */

/* Contact Page Start */
    /* Contact Section Start */
    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;
    }
    /* Contact Section End */
    /* Form Section Start */
    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }
    /* Form Section End */
/* Contact Page End */

/* Cart Page Start */
    /* Apply Coupon Start */
    #cart-add {
        display: flex;
        flex-direction: column;
    }

    #coupon {
        width: 100%;
    }

    #subtotal {
        width: 100%;
        padding: 20px;
    }

    #coupon input {
        width: 70%;
    }

    #subtotal button {
        width: 100%;
    }
    /* Apply Coupon End */
/* Cart Page End */
}
@media (min-width: 481px) and (max-width: 768px) {
    .section-p1 {
        padding: 40px 40px;
    }
/* Navbar Start */
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E9CBBF;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0;
        z-index: 9999;
    }

    #navbar #bag {
        display: none;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    .badge {
        top: 14px;
        right: 76px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding: 0 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    a.imgL {
        width: 35%;
        padding: 10px;
    }

    img.logo {
        width: 90%;
    }

    .shopping-cart {
        width: 62%;
        top: 60px;
        right: 0;
    }
/* Navbar End */
/* Home Page Start*/
    /* Hero Start */
    #hero {
        height: 90vh;
        padding: 0 25px;
        background-position: top 30% right 38%;
    }
    /* Hero End */
    /* Cards Start */
    #feature {
        justify-content: space-evenly;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }
    /* Cards End */
    /* Products Start */
    #product1 .pro-container #cards,
    #product1 .pro-container #cardsArrivals {
        justify-content: space-evenly;
    }

    #product1 .pro {
        margin: 15px;
    }
    /* Products End */
    /* Modal Start */
    #modalAdd .modalContainer {
        width: 100%;
        padding: 45px 60px 30px 60px;
    }

    #modalAdd .modalContainer .closeModal {
        top: 15px;
        right: 20px;
    }

    #modalAdd .modalContainer .single-pro-details {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #modalAdd .modalContainer .single-pro-details .imageProduct {
        width: 100%;
        height: 60%;
        justify-content: center;
    }

    #modalAdd .modalContainer .single-pro-details #cartImage,
    #modalAdd .modalContainer .single-pro-details #imageRemplace {
        min-width: 65%;
        max-width: 100%;
        min-height: 65%;
        max-height: 100%;
    }

    #modalAdd .modalContainer .single-pro-details h6 {
        width: 100%;
        height: auto;
        margin-top: 22px;
        text-align: center;
    }

    #modalAdd .modalContainer .single-pro-details h4 {
        height: auto;
        margin: 10px 0 0 0;
        text-align: center;
    }

    #modalAdd .modalContainer .single-pro-details #priceContainerModal {
        height: auto;
    }

    #modalAdd .modalContainer .single-pro-details #priceContainerModal h2#currencyModal {
        width: 75%;
        text-align: end;
    }

    #modalAdd .modalContainer .single-pro-details .selectSize {
        height: auto;
        width: 40%;
    }

    #modalAdd .modalContainer .single-pro-details .selectSize select {
        width: 100%;
    }

    #modalAdd .modalContainer .single-pro-details .quantityModal {
        height: auto;
        width: 50%;
        margin-left: 35px;
    }

    #modalAdd .modalContainer .single-pro-details .quantityModal h6 {
        margin: 0;
        margin-right: 10px;
    }

    #modalAdd .modalContainer .single-pro-details h4.proDetails,
    #modalAdd .modalContainer .single-pro-details span {
        display: none;
    }

    #modalAdd .modalContainer .single-pro-details .quantityModal .itemQuantityModal {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #modalAdd .modalContainer .single-pro-details button {
        width: 80%;
        height: auto;
        margin-top: 15px;
    }
    /* Modal End */
    /* Banner Start */
    #banner {
        height: 25vh;
        margin: 15px 0;
    }

    #banner h4 {
        font-size: 16px;
    }

    #banner h2 {
        font-size: 75px;
        margin: 0;
        padding: 0;
        line-height: 75px;
    }
    /* Banner End */
    /* Call to Action Start */
    #sm-banner {
        padding: 0;
    }

    #sm-banner .banner-box {
        min-width: 97.5%;
        height: 30vh;
        margin: 10px;
        background-position: bottom;
    }

    #banner3 {
        padding: 0;
        width: 100%;
    }

    #banner3 .banner-box {
        width: 30.7%;
        margin: 10px;
    }
    /* Call to action End */
    /* Newsletter Start */
    #newsletter {
        justify-content: center;
        margin: 15px 0;
    }
    #newsletter h4,
    #newsletter p {
        text-align: center;
    }
    #newsletter .form {
        width: 70%;
    }
    /* Newsletter End */
/* Home Page End */
/* Footer Start */
footer.section-p1 {
    padding: 40px 40px 15px 40px;
}

footer .col {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

font {
    display: flex;
    flex-direction: column;
}

footer .col.contactFooter,
footer .col.accountFooter,
footer .col.aboutFooter {
    width: 33.3%;
    margin: 15px 0;
}

footer .logoFooter {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .logoFooter img {
    width: 75%;
    height: 75%;
}

footer .col.appFooter.install {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
/* Footer End */

/* Contact Page Start */
    /* Form Section Start */
    #form-details {
        padding: 40px;
    }

    #form-details form {
        width: 50%;
    }
    /* Form Section End */
/* Contact Page End */
}

@media (min-width: 769px) and (max-width: 920px) {
    .section-p1 {
        padding: 35px 70px;
    }

    /* Cart Start */
    .shopping-cart {
        width: 65%;
        top: 60px;
        right: 0;
    }

    .shopping-cart-items .clearfix .productDetailsCart {
        padding-top: 38px;
    }
    /* Cart End */

    #hero {
        background-position: top 25% right 40%;
    }

    #product1 .pro-container #cards {
        justify-content: space-around;
        padding: 0;
    }

    #product1 .pro-container #cardsArrivals {
        justify-content: space-around;
        padding: 0;
    }
    /* Modal Start */
    #modalAdd.modal {
        padding: 100px 40px 25px;
    }

    #modalAdd .modalContainer {
        width: 100%;
        padding: 45px;
    }

    #modalAdd .modalContainer .single-pro-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    #modalAdd .modalContainer .single-pro-details .imageProduct {
        width: 85%;
        height: 62%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    #modalAdd .modalContainer .single-pro-details #cartImage,
    #modalAdd .modalContainer .single-pro-details #imageRemplace {
        max-width: 100%;
        max-height: 100%;
    }

    #modalAdd .modalContainer .single-pro-details h6 {
        height: auto;
        width: 90%;
        justify-content: center;
        margin-top: 10px;
    }

    #modalAdd .modalContainer .single-pro-details h4 {
        height: auto;
        width: 90%;
        justify-content: center;
    }

    #modalAdd .modalContainer .single-pro-details #priceContainerModal {
        width: 90%;
        height: auto;
        justify-content: center;
    }

    #modalAdd .modalContainer .single-pro-details #priceContainerModal h2#currencyModal {
        width: auto;
        height: auto;
        margin: 0 5px 0 0;
    }

    #modalAdd .modalContainer .single-pro-details #priceContainerModal h2 {
        width: auto;
        height: auto;
        margin: 0;
    }

    #modalAdd .modalContainer .single-pro-details .selectSize {
        width: 41%;
        height: auto;
        justify-content: center;
        margin-bottom: 10px;
    }

    #modalAdd .modalContainer .single-pro-details button {
        width: 40%;
        height: 8%;
    }

    #modalAdd .modalContainer .single-pro-details h4.proDetails,
    #modalAdd .modalContainer .single-pro-details span {
        display: none;
    }

    #modalAdd .modalContainer .single-pro-details .quantityModal {
        height: auto;
        width: 50%;
        justify-content: center;
        align-content: center;
        margin-bottom: 10px;
    }

    #modalAdd .modalContainer .single-pro-details .quantityModal h6 {
        padding: 0;
        margin: 0;
    }

    #modalAdd .modalContainer .single-pro-details .quantityModal .itemQuantityModal {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* Modal End */
    /* Banner Start */
    #sm-banner {
        padding: 10px 70px;
    }

    #sm-banner .banner-box {
        width: 100%;
        margin-bottom: 10px;
    }

    #sm-banner .banner-box2 {
        margin-bottom: 0;
    }

    #banner3 {
        padding: 0 70px;
    }

    #banner3 .banner-box {
        width:49%;
    }

    #banner3 .banner-box3 {
        background-image: url('../img/banner/b18.jpg');
        width: 100%;
    }
    /* Banner End */
    /* Newsletter Start */
    #newsletter {
        justify-content: center;
    }

    #newsletter .news-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #newsletter .form {
        display: flex;
        width: 65%;
    }
    /* Newsletter End */
    /* footer Start */
    footer h4 .usFollow {
        padding-bottom: 10px;
    }

    footer .follow {
        margin-bottom: 10px;
    }
    /* footer End */
}

@media (min-width: 921px) and (max-width: 1024px) {
    .shopping-cart {
        width: 45%;
    }

    #feature {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    #feature .fe-box {
        margin: 15px 30px;
    }

    #product1 .pro-container #cards {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #sm-banner {
        padding: 15px 80px;
    }

    #sm-banner .banner-box {
        width: 100%;
        margin-bottom: 15px;
    }

    #banner3 .banner-box {
        width: 30%;
        margin: 0;
    }

    #modalAdd .modalContainer {
        width: 100%;
    }

    #modalAdd .modalContainer .single-pro-details {
        justify-items: start;
        grid-template-columns: 50% 25% 25%;
    }

    #modalAdd .modalContainer .single-pro-details #cartImage,
    #modalAdd .modalContainer .single-pro-details #imageRemplace {
        max-width: 100%;
        min-width: 80%;
        min-height: 80%;
        max-height: 100%;
    }

    #modalAdd .modalContainer .single-pro-details .quantityModal h6 {
        display: none;
    }
}

/* End MediaQuery */